/*Corpo*/

body{
    background-color: rgb(17, 19, 20);
}

/*Tags*/

h1{
    text-align: center;
    text-size-adjust: 12pt;
}
article{
    background-color: white;
    padding: 50px;
}
figcaption{
    font-size: 10pt;
    text-align: center;
}

/*Tags Com Ligação Parental*/

article>p{
    text-align: justify;
}
figure>figcaption{
    text-align: center;
}

/*Classes*/

.imagem_centralizada{
    display: block;
    margin: 0 auto;
}

/*Estilos Individuais*/

#bloco_do_artigo{
    width: 1280px;
    margin: 0 auto;
}
